@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply scrollbar-thin scrollbar-track-neutral-200 scrollbar-thumb-neutral-400 scrollbar-track-rounded scrollbar-thumb-rounded dark:scrollbar-track-neutral-900 dark:scrollbar-thumb-neutral-600;
}

.dark {
  @apply [--accent-color-lighter:#e969ee30] [--accent-color:#e969ee] [--transparent-color:black];
}

.light {
  @apply [--accent-color-lighter:#e969ee20] [--accent-color:#f384f7] [--transparent-color:white];
}

::-moz-selection {
  background-color: var(--accent-color);
  color: #fefefe;
}
::selection {
  background-color: var(--accent-color);
  color: #fefefe;
}

.shimmer {
  display: inline-block;
  -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300%
    100%;
  mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300% 100%;
  background-repeat: no-repeat;
  animation: shimmer 2.5s infinite;
}

@keyframes shimmer {
  100% {
    -webkit-mask-position: left;
  }
}

/* Cards in home page. Hover effect made by the illustrious Hyperplexed! https://codepen.io/Hyperplexed/pen/MWQeYLW */
.projects {
  @apply [--project-color:rgba(233,233,233,0.3)] [--projects-after:rgba(233,233,233,0.6)] [--projects-before:rgba(233,233,233,0.1)] [--projects-bg:rgba(233,233,233,0.3)] dark:[--project-bg:rgba(255,255,255,0.1)] dark:[--project-color:rgba(23,23,23,0.9)] dark:[--projects-after:rgba(255,255,255,0.4)] dark:[--projects-before:rgba(255,255,255,0.1)] dark:[--projects-bg:rgb(23,23,23)];
}

.projects:hover > .project::after,
.projects:hover > .project::before {
  opacity: 1;
}

.project {
  background-color: var(--projects-bg);
  width: 100%;
}

.project:hover::before {
  opacity: 1;
}

.project::before,
.project::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.project::before {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    var(--accent-color-lighter),
    transparent 40%
  );
  z-index: 10;
}

.project > .project-content {
  background-color: var(--project-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 1px;
  padding: 10px;
  z-index: 20;
}

/* ---- */

.love {
  cursor: default;
  display: inline-block;
  position: absolute;
  transform-origin: center bottom;
}

.heart-animation-left {
  animation: flyUpLeft 2s ease-in-out forwards;
}

.heart-animation-right {
  animation: flyUpRight 2s ease-in-out forwards;
}

@keyframes flyUpLeft {
  0% {
    transform: translateY(0) translateX(0) scale(1);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100px) translateX(50px) scale(0.5);
    opacity: 0;
  }
}

@keyframes flyUpRight {
  0% {
    transform: translateY(0) translateX(0) scale(1);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100px) translateX(-50px) scale(0.5);
    opacity: 0;
  }
}

/* For hydration errors */

p ul {
  background-color: red !important;
}

button button {
  background-color: red !important;
}
